.header{
	
	list-style-type:none; 
	padding:0;

}
body {
	font-family: 'Hanalei Fill', cursive;
}
.headerlist {
	display: inline-block;
}
.headerlist,a {
	color:red;
	text-decoration:none;
	background-color: pink;
	border: green 2px;
	text-align: center;
	padding: 10px 25px 10px 25px ;
	margin: 15px 25px 15px 25px;
	
}
.headerlist,a:hover{
	color: black;

}
.main{
	margin-top: 25px;
	background-color: green;
	height: 400px;

}

.centeredText {
	text-align: center;
}
.userList{
	background-color: yellow;
	height:100%;
	width: 30%;
	display: inline-block;
	list-style-type: none;


}
.messageBoard {
	background-color: blue;
	width: 10%;
	height:100%;

}
.pinkbackground {
	background-color: pink;
}
.redbackground {
	background-color: red;
}
.rowUsers{
	height: 400px;
	padding: 25px 40px 25px 40px;
	margin: 60px 40px 60px 40px ;
	
}
.border{
	border: 10px blue;
	border-radius: 25px;
	border-color:green;
}
